<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <connectionStrings>
    <add name="EmployeeContext" connectionString="Data Source=DESKTOP-AB8HUQU;Initial Catalog=EmpolyeeDB;User ID=sa;Password=Amer1994;Integrated Security=false;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</packages>