@model IEnumerable<EdgProDemo.Models.EmployeeEmployeeData>

@{
    ViewBag.Title = "ReportViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReportViewer</h2>

@Html.Partial("ReportViewer")